<!doctype html>


<html lang="n">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


  </head>

  <body class="bg-[url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages8.alphacoders.com%2F662%2Fthumb-1920-662118.png&f=1&nofb=1&ipt=67c482e360c2e6ed360dbc4a62adf0128a38554e217a1e936d7a6246623d5827')] bg-cover">

  <div class = "text-3xl text-center pt-50 font-bold font-medium text-black">
  <h1 class = "text-5xl"> LOGIN </h1>

  <form action = "/login" method="POST"> <br>

      Username:
      <div class = "w-full max-w-sm-min-w-[200px]">
        <input type="TEXT" name="username" class = "w- border-black text-center" placeholder="Type here">
      </div>

      Password:

      <div class = "w-full max-w-sm-min-w-[200px]">
        <input type="password" name="password" class = "w- border-black text-center" placeholder="Type here">
      </div>

      <div class = "text-red-500 pt-10 pb-10 font-bold">
       &nbsp;{{username_error}}
       &nbsp;{{password_error}}
     </div>


    <input type="SUBMIT" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">

  </form>

  <a href = "/register.html"> Register </a>

  </div>



</html>
