<!DOCTYPE html>

<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <title>Gacha</title>

      <style>
          html, body {
              height: 100%;
          }
          body {
              background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fdb%2F48%2F42%2Fdb4842cf0fe9103c5aa488d0ab60fab2.jpg&f=1&nofb=1&ipt=4b11d9ccfcd8052b31f4d69ba69af7b2daa7ac40eaf3c6a6c0b80991806dab00');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
          }
      </style>
  </head>

  <body class="bg-fixed">
      <div class="fixed top-4 right-4 z-50 flex items-center gap-3">

          <div class="flex items-center gap-2 px-4 py-0.5 rounded-xl bg-white outline-solid outline-red-400">
            <img src="../static/carrotpies.png" class="w-6 h-6">
            <span class="text-lg font-semibold">
              {{ currency }}
            </span>
          </div>

          <a href="/logout" class="px-4 py-2 rounded-xl text-white bg-red-600 hover:bg-red-700 text-sm font-medium shadow transition">
            Log Out
          </a>

        </div>

        <main class="flex min-h-screen flex-col items-center gap-12 px-4">
          <a href="/">
              <img src="../static/title.png" alt="Logo" class="w-[37rem] max-w-full drop-shadow-xl">
          </a>


          <img class ="rounded-[10%] w-[40rem]" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pokemon.com%2Fstatic-assets%2Fcontent-assets%2Fcms2%2Fimg%2Ftrading-card-game%2Fseries%2Fsv_series%2Fsv08%2Fsv08-banner.png&f=1&nofb=1&ipt=70868a509b53ff31ce6cf3c0c11f73c66377f451e92cc8a7ed4d53d3cb81c973">


          <div class="w-full text-white flex justify-center gap-5">
            <a href='/pull'>
              <button
                class="w-full text-2xl px-5 py-5 rounded-lg font-semibold shadow-xl
                       bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700
                       hover:scale-[1.03] hover:bg-gradient-to-br transition">
                Pull
              </button>
            </a>
            <a href="/pull?count=10">
               <button
                  class="w-full text-2xl px-5 py-5 rounded-lg font-semibold shadow-xl
                         bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700
                         hover:scale-[1.03] hover:bg-gradient-to-br transition">
                  Pull x10
              </button>
            </a>
          </div>

          <div class='flex flex-wrap items-center justify-center'>
            {{cards_pulled | safe}}
          </div>
      </main>
    </body>
</html>
