<!DOCTYPE html>

<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <title>Sets</title>

      <style>
          html, body {
              height: 100%;
          }
          body {
              background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fdb%2F48%2F42%2Fdb4842cf0fe9103c5aa488d0ab60fab2.jpg&f=1&nofb=1&ipt=4b11d9ccfcd8052b31f4d69ba69af7b2daa7ac40eaf3c6a6c0b80991806dab00');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
          }
      </style>
  </head>


  <div class="">
    <a href="/">Home</a>
    <a href="/trivia">Battle</a>
    <a href="/displaycollection">Profile</a>
    <a href="/setlist">Pokedex</a>
    <a href="/pullhtml">Pull</a>
  </div>

  <body class="bg-fixed">
      <div class="fixed top-4 right-4 z-50 flex items-center gap-3">

          <div class="flex items-center gap-2 px-4 py-0.5 rounded-xl bg-white outline-solid outline-red-400">
            <img src="../static/carrotpies.png" class="w-6 h-6">
            <span class="text-lg font-semibold">
              {{ currency }}
            </span>
          </div>

          <a href="/logout" class="px-4 py-2 rounded-xl text-white bg-red-600 hover:bg-red-700 text-sm font-medium shadow transition">
            Log Out
          </a>

        </div>

      <main class="flex min-h-screen flex-col items-center gap-12 px-4">
          <a href="/">
              <img src="../static/title.png" alt="Logo" class="w-[30rem] max-w-full drop-shadow-xl">
          </a>

          <div class="flex flex-wrap w-full justify-center"> {{sets | safe}} </div>
      </main>
  </body>
</html>
