<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<html class = "scroll-smooth bg-cover bg-[url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fdb%2F48%2F42%2Fdb4842cf0fe9103c5aa488d0ab60fab2.jpg&f=1&nofb=1&ipt=4b11d9ccfcd8052b31f4d69ba69af7b2daa7ac40eaf3c6a6c0b80991806dab00)]">

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<main class="flex-1 flex items-center justify-center">
  <section class="flex flex-col items-center justify-center gap-8 px-4">
    <header class="w-full">
      <div class="grid grid-cols-3 items-center w-full">
        <div class="flex items-center mt-[-15%] pl-4">
          <div class="fixed top-4 right-4 z-50 flex items-center gap-3">

              <div class="flex items-center gap-2 px-4 py-0.5 rounded-xl bg-white outline-solid outline-red-400">
                <img src="../static/carrotpies.png" class="w-6 h-6">
                <span class="text-lg font-semibold">
                  {{ currency }}
                </span>
              </div>

              <a href="/logout" class="px-4 py-2 rounded-xl text-white bg-red-600 hover:bg-red-700 text-sm font-medium shadow transition">
                Log Out
              </a>

            </div>
        </div>
        <div class="flex justify-center">
          <a href="/">
            <img src="../static/title.png" alt="Title graphic" class="w-[37rem] max-w-full h-auto object-contain"/>
          </a>
        </div>
      </div>
    </header>


  </section>
</main>


<div class = "flex flex-col flex-wrap w-[60%] pl-[20%] pr-[20%] ml-[20%] mt-[5%] pb-[1%] justify-center bg-white rounded-[15%]">
<div>
What is this Pokemon's {{question_type}}<a href = "/addcurrency?count=1000&page=trivia">?</a>
</div>
<br>
<div class = 'flex flex-wrap w-full justify-center '>
{{ testimg | safe }}



<form action = "/trivia" method="POST" class='flex flex-wrap items-center justify-center'>
  <div>
  <input type = "radio" id="q1" name="question" value='{{q1}}' required>
  <label for "q1"> {{q1}}</label>&nbsp;

  <input type = "radio" id="q2" name="question" value='{{q2}}' required>
  <label for "q2"> {{q2}}</label>&nbsp;

  <input type = "radio" id="q3" name="question" value='{{q3}}' required>
  <label for "q3"> {{q3}}</label>&nbsp;

  <input type = "radio" id="q4" name="question" value='{{q4}}' required>
  <label for "q4"> {{q4}}</label>&nbsp;
  </div>

  <input type = "hidden" name="type" value={{type}}>
  <input type = "hidden" name="dexnum" value={{dexnum}}>
  <input type = "hidden" name="stattype" value={{stattype}}>
  <input type="submit" class="border rounded-full bg-gray-300 p-1 bold">
</form>
</div>
<img src = '{{ gif | safe}}' class = 'rounded-[2%] pt-[2%]'>
</div>


</html>
